body{
    background-color:white;
    
}
.fa{
    color:orange;

}

.body-part{
    margin: 10px 0px;
    padding: 40px 10px;
}
.required::after{
    content:" *";
    color:red;
    font-size: 20px;
}
